
header {
    justify-content:space-between;
    background-color: rgb(55, 55, 55);
    display: flex;
    text-align: justify;
}

img {
    margin-left: 35px;
    padding: 5px;
}

.block {
    display: flex;
    margin-right: 65px;
    list-style-type: none;
    text-decoration: none;
}

div ul li {
    font-size: large;
}

div ul li a {
    text-decoration: none;
    color: white;
    padding-left: 49px;
}

div ul li a:hover{
    color: orangered;
}

